“Segoe UI”,
Roboto,
Helvetica,
Arial,
sans-serif,
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,;
  padding: 0 10px;
  box-sizing: border-box;
  height: 100vh;
  background: url(../../../s3-us-west-2.amazonaws.com/s.cdpn.io/106403/Skies0258_3_download600%5b1%5d.jpg);

}
.navbar-inner{
background-color: transparent;
text-align: center;
vertical-align: center;
}
.menu__container {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
  z-index: 1;
}
.first{
  background-image: url(prizes/1.png);
}
.second{
  background-image: url(prizes/2.png);
}
.third{
  background-image: url(prizes/3.png);
}
.hardware{
  background-image: url(prizes/hardware2.png);
}
.matic{
  background-image: url(prizes/matic.png);
}
.persistence{
  background-image: url(prizes/persistence.png);
}
.website{
  background-image: url(prizes/website.png);
}
.ui{
  background-image: url(prizes/ui.png);
}
.sketch{
  background-image: url(prizes/sketch.png);
}
.menu__container:hover {
  animation: unset;
  margin-top: 8vh;

  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.menu__container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100%;
  color: black;
}
@-moz-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@-webkit-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@-o-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
 @keyframes glowing {
  0% { box-shadow: 0 0 -0px #e33c3c; }
  40% { box-shadow: 0 0 30px #e33c3c; }
  60% { box-shadow: 0 0 30px #e33c3c; }
  100% { box-shadow: 0 0 -10px #e33c3c; }
}
.menu__container {
 animation: glowing 3000ms infinite;
}
